.frosted-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent */
  backdrop-filter: blur(70px);          /* blur effect */
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  max-width: fit-content;
}
a{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: rgb(10, 12, 83);
    background-color: rgb(238, 239, 234);
    border-radius: 10px;
}
.keep{
    display: flex;
    justify-content: center;
    padding: 10px;
}
