#root {
  margin: 0;
  border: 0;
  box-sizing: border-box;
 background-Image: url('/bgg.png');
  background-Size: cover;
  background-Repeat: no-repeat;
  background-Position: center;
    height: 100vh;
}
body {
  overflow: hidden;
}
*{
    padding: 0;
    border: 0;
    margin: 0;
}
